if SHIELD_CURIE_LEFT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "Curie"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_CURIE_LEFT

if SHIELD_CURIE_LEFT || SHIELD_CURIE_RIGHT

config ZMK_SPLIT
    default y
    
endif # SHIELD_CURIE_LEFT || SHIELD_CURIE_RIGHT

