
&spi1 {
	cs-gpios = <&gpio0 9 GPIO_ACTIVE_LOW>;// CS
	status = "okay";
	
	lcd1: lcd1@0 {
		status = "okay";
		compatible = "waveshare,gc9a01a";
		spi-max-frequency = <2000000>;
		reg = <0>;
		width = <240>;
		height = <240>;
		cmd-data-gpios = <&gpio0 10 GPIO_ACTIVE_HIGH>;// DC
		reset-gpios = <&gpio1 15 GPIO_ACTIVE_HIGH>;
		backlight-gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
		pixel-format = <0>;
		// display-inversion;
		rotation = <0>;
	};
};



/ {
	chosen {
		zephyr,display = &lcd1;
	};
};